.background {
  img {
    position: absolute;
    z-index: -1;
  }
  .top {
    // border: 1px solid #000;
    width: 55%;
    height: auto;
    top: -15rem;
    left: -7rem;
  }
  .bottom {
    // border: 1px solid #fff;
    right: -7rem;
    bottom: -20rem;
    width: 55%;
    height: auto;
  }
}
